otel_exporter {
    endpoint grafana:4317;
}
otel_service_name visage-nginx;
otel_resource_attr service.instance.id "${HOSTNAME}";
otel_trace on;
otel_trace_context propagate;
otel_span_name "$request_method $uri";
